body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center center;
    background-color: darkcyan;
    color: white;
    font-size: medium;
    text-shadow: 1.5px 1.5px black;
}
input{
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 2px;
    margin-top: 0.5%;
    margin-bottom: 2%;
    box-shadow: 5px 5px black;
    border: 0.5px solid black;
}
input:hover{
    background-color: black;
    color:azure;
    font-size: 95%;
}
button{
    background-color: azure;
    color: black;
    width: 40px;
    height: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    box-shadow: 3px 3px black;
    outline: none;
    border-radius: 8px;
    border: 1px solid azure;
}
button:hover{
    background-color: black;
    color: azure;
    font-family:'Courier New', Courier, monospace;
    font-size: larger;
    box-shadow: 3px 3px 3px black;
    border: 1px solid azure;
}
button:active {
    box-shadow: 3x 3px #000;
    transform: translateY(4px);
  }
h1{
    text-shadow: 4px 4px black;
}
h1:hover{
    color: black;
    text-shadow: 3px 3px azure;
}
strong:hover{
    color: black;
    text-shadow: 1px 1px azure;
}
span{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    
}